<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        Type :<input type="text" id="type" />
        Id :<input type="text" id="id" />
        <button id="lockBtn">Lock</button>
        <button id="unlockBtn">Unlock</button>
        
   </div>
</div>
@section Scripts
{
    <script type="text/javascript">
		$(document).ready(function ()
        {
            var connection = $.hubConnection('/signalr', { useDefaultPath: false });
            var contosoChatHubProxy = connection.createHubProxy('storeHub');
            
            contosoChatHubProxy.on('notifyAdded', function ( message) {
                console.log( message);
            });
            contosoChatHubProxy.on('notifyDeleted', function (message) {
                console.log(message);
            });
            contosoChatHubProxy.on('notifyModified', function (message) {
                console.log(message);
            });
            connection.start().done(function () {
                console.log('Hub connection start');
                // Wire up Send button to call NewContosoChatMessage on the server.
                $('#lockBtn').click(function () {
                    console.log('sending message:' + $('#type').val() + ":" + $('#id').val());
                    contosoChatHubProxy.invoke('lockEntity', $('#type').val(), $('#id').val());
                    
                });
                $('#unlockBtn').click(function () {
                    console.log('sending message:' + $('#type').val() + ":" + $('#id').val());
                    contosoChatHubProxy.invoke('unlockEntity', $('#type').val(), $('#id').val());

                });
            });

            
		});
    </script>
}